1. What is Python, and why is it popular

Ans. Python is programing language which is easily use fresher can learn in easy way beacuse syntex make easy to learn.

2. What is an interpreter in Python

Ans. Python interpreter is a program that directly executes Python code. Unlike compiled languages, which are first translated into machine code before execution, Python is an interpreted language.

3. What are pre-defined keywords in Python

Ans. Paython  have pre-defined keywoard those incclude with in bulid ( if , else , elif, True ,flase )

4. Can keywords be used as variable names

Ans. we cannnot use as those are pre-defined and in alternate we can use with some other element or value. ( if1 , if2 , true1, true2)

But varriable name shoulb be meaningful.

5. What is mutability in Python

Ans. mutability is python can change object in contant. list is sequeal and we can change in order to object, remove , add

6. Why are lists mutable, but tuples are immutable

7. What is the difference between “==” and “is” operators in Python

Ans. "==' used  for values are equal or not,


"is" used for objects are same or not,

8. What are logical operators in Python


 Ans. Logical operators in Python are used to combine conditional statements and evaluate True==False.

 it is boolen conditional statement,

 If a<b , or A=C

9. What is type casting in Python

Ans. Type case is force to change the varriable or value, process or converting into the another type is casting,

it also  called explicit.

if 9 is Int value and change to float , can be changable.

10. What is the difference between implicit and explicit type casting.


Ans. Both are type casting.

A. implicit is know as internal changes and auto change. without changes of programmer.

B. Explicit is manual process of program it perform with given task to chage the type into another.

11. What is the purpose of conditional statements in Python

Ans. Conditional statement in python program with diffrent block to know the value are True or False.

in if and Else senrio detemine the value conditions.

12. How does the elif statement work.

Ans. In Elif condition use in  between If and Else,

in sequance of if elif and else, condition satisfy with elif then give the output.

13. What is the difference between for and while loops

Ans. In for loop conditions stantement manul run the code no of times you want to  execute the code.

While Loops -: In while loops code will be run until the satisfy the give output.

14. Describe a scenario where a while loop is more suitable than a for loop

Ans. Consider the scenario where code will repet until match the input from operater.

**Practical Questions**

In [ ]:
#  Write a Python program to print "Hello, World!

'hello' "  " 'world'

'hello  world'

In [ ]:
# Write a Python program that displays your name and age

name='Mohit'" " 'Malik'
print(name)

Age= 31
print(Age)

Mohit Malik
31

In [ ]:
# Write code to print all the pre-defined keywords in Python using the keyword library

True =  for i in range(1,5):
print(i)

SyntaxError: cannot assign to True (ipython-input-3419445350.py, line 3)

In [ ]:
# Write a program that checks if a given word is a Python keyword.

score_list=int(input('Your score list'))
if score_list>90:
    print('well score', score_list)
else:
    print('Low Score', score_list)

# Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each.

In [ ]:


list5=[1,2,3,4,5]

list5.remove(2)

print(list5)

list5.append(200)

print(list5)

[1, 3, 4, 5]
[1, 3, 4, 5, 200]

In [ ]:
tuple1=(1,2,3,4,5)

tuple2=list(tuple1)

print(tuple2)

tuple2.append(6)

print(tuple2)

tuple3=tuple(tuple2)

print(tuple3)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

Write a function to demonstrate the behavior of mutable and immutable arguments

In [ ]:
list6=[1,2,3,4,5]
print(list6)

list6.append(10)
print(list6)# list are changeable.



string1=('hello')# immutable cannot changeable.

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 10]

Write a program that performs basic arithmetic operations on two user-input numbers

In [ ]:
a1=int(input('Balanced Amount'))
a2=int(input('Balanced Amount'))

Balanced Amount2000
Balanced Amount1000

In [ ]:
print ((a1+a2) ,'balanced amount')
print ((a2-a1) ,'balanced amount')

3000 balanced amount
-1000 balanced amount

Write a program to demonstrate the use of logical operators.

In [ ]:
Value1= 2000
value2 = 4000

if Value1 < value2:
  print('value is True')
else:
  print('value is False')

value is True

In [ ]:
Value1<value2

True

 Write a Python program to convert user input from string to integer, float, and boolean types

In [ ]:
User1=input('enter value')

Int_user=input(int(User1))
float_user=input(float(User1))
bool_user=input(bool(User1))

print(Int_user)

enter value10
1020
10.030
True40
20

Write code to demonstrate type casting with list elements

In [ ]:
str1=['10','20', '30']

intr=[int (i) for i in str1]
float1=[float (i) for i in str1]

print(intr)
print(float1)

[10, 20, 30]
[10.0, 20.0, 30.0]

Write a program that checks if a number is positive, negative, or zero

In [ ]:
number=int(input('Number Check'))

if number >=50 and number < 100:
    print('Positive')
elif number >=40:
    print('Nagative')
else:
    print('zero')

Number Check60
Positive

 Write a for loop to print numbers from 1 to 10.

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Write a Python program to find the sum of all even numbers between 1 and 50.

In [ ]:
even_1=0

for  i in range(1,51):
    if i %2==0:
        even_1 += i

print(even_1)

650

Write a program to reverse a string using a while loop

In [ ]:
s='good' 'morning'

r=" "

i=len(s)-1

while i > 0:
     r+=s[i]
     i-=1
print(r)